body {
    font-family: Arial, sans-serif;
    background-color: #905cd3;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(6, 167, 127);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #d6d616;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1bc815;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .dashboard-container {
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
  }
  